.main {
    width: 200px;  
    padding: 40px;
    height:370px;
    margin-top:50px;
    margin-bottom: 100%;
    right:0px;
    position:fixed; 
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: dodgerblue;
    font-family: "Sans-Serif";
    overflow: scroll;
  }
  .botoncito {
    width: 180px;  
    padding: 20px;
    height:270px;
    margin-top:60px;
    right:0px;
    position:fixed; 
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color:blue;
  }

  .main2 {
    width: 0px;  
    padding: 0px;
    height:0px;
    margin-top:0px;
    right:0px;
    position:fixed; 
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }


  .terminar {
    width: 180px;  
    padding: 20px;
    height:270px;
    margin-top:60px;
    right:0px;
    position:fixed; 
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color:blue;
  }


  .barrita {
    margin-left: auto; 
    margin-right: 0;
  }

  .totales {
    width: 250px;  
    padding: 40px;
    height:40px;
    margin-top:510px;
    right:0px;
    background-color: white;
    display: flex;
    align-items: flex-start;
  }