.button {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50; /* Green */
  }


  .cart-button {
    width: 0px;  
    padding: 150px;
    height:50px;
    margin-top:20px;
    right:60px;
    position:fixed; 
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }